<html>   
   <head>
      <meta content = 'text/html; charset = UTF-8' http-equiv = 'Content-Type' />
   </head>
   
   <body>
      <h1>Welcome to affirm.org, <%= @member %></h1>
      
      <p>
         <%= @member %>, Lorem ipsum dolor sit amet, an omnis salutatus mea. Ea elitr quaerendum mei, wisi veri vel eu, eleifend imperdiet ex vis. Mei perfecto consequuntur ei, posse salutandi eam ne. Vero aliquid vel at, an vim semper necessitatibus.<br>
      </p>
      
      <p>
         To login to the site, just follow this link: 
         <%= @url %>.
      </p>
      
      <p>Thanks for joining and have a great day!</p>
      
   </body>
</html>