<hr>
<div class="row placeholders">
	<% if @contacts %>
		<% @contacts.each do |contact| %>
	  <div class="col-xs-6 col-sm-3 placeholder">
	    <h4><%= link_to contact.last_name, edit_contact_path(contact) %>, <%= link_to contact.first_name, edit_contact_path(contact) %></h4>
	    <span class="text-muted">Organization: <%= contact.organization %></span>
	  </div>
		<% end %>
	<% end %>
</div>