<div class="container-fluid">
	<div class="row">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			<h1>New Contact</h1>
		</div>
	</div>
</div>
<%= render 'form', contact: @contact %>

<%= link_to 'Cancel', contacts_path %>
